#conversionArea {
	float: left;
	margin-right: .5em;
	font: 14px 'Verdana', sans-serif;
	width: 11.2em;
}

#paymentMethod {
	font: 14px 'Verdana',sans-serif;
	border: 1px solid #dcdcdc;
	border-radius: 4px;
	background-color: #fff;
	height: 30px;
	width: 10em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: .1em 0;
	float: right;
	-moz-appearance: menuarrow;
}

#symbol {
	font: 14px 'Verdana',sans-serif;
	color: #888;
	width: .8em;
	float: left;
	clear: right;
	padding: .4em .2em;
}

.spinner {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #dcdcdc;
	border-radius: 4px;
	overflow: hidden;
	text-align: center;
	width: 10em;
	height: 30px;
	float: right;
	margin: .1em 0;
}

.spinner-button {
	padding: 0 .2em;
	color: #aaa;
	cursor: pointer;
	width: 1em;
	height: 100%;
	text-align: center;
	display: table;
}

.spinner-minus {
	border-right: 1px solid #dcdcdc;
	float: left;
}

.spinner-plus {
	border-left: 1px solid #dcdcdc;
	float: right;
}

.spinner-input {
	font: 14px 'Verdana',sans-serif;
	text-align: center;
	margin: 0;
	border: none;
	box-shadow: none;
	padding: 0;
	height: 100%;
	width: 70%;
	background-color: #fff;
}

#qrGen {
	float: right; 
	margin-left: .5em;
}
